.idea
vscode
.DS_Store
*.pyc
secrets
.zed
**__pycache__
.venv
/srcs/.env
build
*.egg-info
**/migrations/*.py
.ropeproject/
.mypy_cache/
pyproject.toml
**/socket_client.py
*.key
srcs/requirements/game/django/gameConfig.json