#lobbyHeader {
    background-color: red;
    padding: 10px;
    display: flex;
}

#leaveGame {
    background-color: green;
}
#gameType {
    background-color: purple;
}

#gameId {
    background-color: goldenrod;
}

#lobbyInterface {
    background-color: grey;
    padding: 10px;
    display: flex;
}

#joinGameField {
    background-color: cornflowerblue;
}

#teamSelector {
    background-color: brown;
}

#teamDisplay {
    display: flex;
    background-color: aqua;
}

#playButton {
    background-color: chocolate;
}

#settingsButton {
    background-color: crimson;
    cursor: pointer;
    user-select: none;
}