.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


/* UNCOMMENT TO ENABLE CRT EFFECT */
body::before, body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 2000;
}

body::before {
    background: url('/assets/layer1.png') repeat;
    opacity: 0.05;
}

body::after {
    background: url('/assets/layer2.png') repeat;
    mix-blend-mode: soft-light;
    opacity: 0.3;
}

@font-face {
    font-family: 'balatro';
    src: url('/fonts/balatro.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('/fonts/balatro.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

.modal {
    font-family: 'balatro';
    color: black;
}

body {
    font-family: 'balatro';
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    color: white;
}

.dropdown-item:active {
    background-color: unset;
    color: unset;
}

.dropdown-item {
    cursor: pointer;
    user-select: none;
}

.friend-badges, .chat-badges, .all-badges{
    display: flex;
}

.toast-container {
    right: 20px;
}

.notif-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.friendRequestBlock {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.toast-header img {
    width: 20px;
    height: 20px;
}

.indicator {
    background: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.headerButtons .indicator{
    transform: translateX(-20px);
}

.options-container {
    display: flex;
    gap: 1rem;
}

.option {
    padding: 1rem 2rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.option.selected {
    border: 2px solid;
    background-color: black;
    color: white;
}

#authenticate {
    text-align: center;
}

.profile-pic-medium {
    width: 64px;
    height: 64px;
}

.trunc-username{
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-content{
    background-color: rgba(60, 60, 71);
    border-radius: 0 10px 10px 10px
    /* border-radius: 10px; */
}

.nav-link{
    background-color: rgb(40, 40, 46);
    color: rgba(255, 255, 255, 0.438);
    border: 1px solid rgb(30, 30, 32) !important;
    border-bottom: 0 !important;
    transition: none !important;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.638);
}

.nav-link.active {
    color: white !important;
    background-color: rgba(60, 60, 71) !important;
    border: 0 !important;
    border-bottom: 1px solid rgba(60, 60, 71) !important;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
    border-bottom: none !important;
}

.max-vh-75 {
    max-height: 75vh !important;
}

#home, #test34 {
    cursor: pointer !important;
}

.toast-body {
    color: rgba(0, 0, 0, 0.603) !important;
}

.edit-button {
    cursor: pointer;
}

#tabContentProfile{
    height: 81%;
    padding:20px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.alert-transition {
    position: fixed;
    top: 10px;
    z-index: 1050;
    display: block;
    animation: slideUp 0.6s ease-out;
}

.alert-transition-show {
    display: block;
    animation: slideDown 0.5s ease-out;
}

.profileContainer {
    padding: 1%;
}

.profileTitle {
    font-size: 20px;
    padding: 6px;
}

.profileContent {
 margin-left: 10px;
}

.form-check-input:checked
{
    background-color:  #0dcaf0;
    border-color:  #0dcaf0;
}

.customSelected
{
    color: black;
    background-color:  #0dcaf0;
}

#profilePic{
    max-width: 100px;
    max-height: 100px;
    background-size: cover;
}

#username {
    background-color: rgba(60, 60, 71, 0.822) !important;
    max-width: 100px;
}

#trophies {
    max-width: 100px;
    background-color: rgba(60, 60, 71) !important;
    min-height: 24px;
}

#userInfos{
    border: 1px solid rgb(196, 196, 196);
    padding:5px;
    background-color: rgba(60, 60, 71) !important;
}

#dropdownMenuButton {
    background-color: rgba(60, 60, 71) !important;
    border: 1px solid rgb(196, 196, 196);
}

.headerButtons img:hover {
    transition: all 0.1s;
}

.headerButtons img:hover {
    transform: scale(1.1);
}