.friendRequestBlock {
    margin: 7px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(211, 223, 223);
    border-radius: 10px;
    align-items: center;
}

.friendRequestBlock .rounded-1 {
    height: 30px;
    width: 30px;
}

.friendRequestKebabMenuButton{
    height: 30px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.friendRequestKebabMenuButton:hover{
    transform: scale(1.2);
}