#lobbyHeader {
    padding: 10px;
    display: flex;
}

#lobbyOptions{
    width: 100%;
    text-align: center;
}

#lobbyInterface {
    display: flex;
}

#teamSelector {
    display: flex;
    justify-content: center;
}

.teamDisplay {
    display: flex;
}

#teamDisplay {
    justify-content: center;
    display: flex;
}

#teamDisplay .player {
    border-radius: 10px;
    margin :10px;
}

#benchPlayerListLabel {
    width: 100%;
    text-align: center;
}

#playButton {
    background-color: chocolate;
}

#settingsButton {
    cursor: pointer;
    user-select: none;
}

#benchPlayerList, #teamADisplay, #teamBDisplay {
    padding: 10px;
}

#teamA .player{
    background-color: rgba(255, 0, 0, 0.54) !important;
    outline: auto;
    outline-color: white;
    width: 70px;
    height: 100px;
}

#teamB .player{
    background-color: rgba(0, 77, 255, 0.54) !important;
    outline: auto;
    outline-color: white;
    width: 70px;
    height: 100px;
}

#bench .player {
    background-color: rgba(255, 255, 255, 0.361);
    outline: auto;
    outline-color: white;
    width: 70px;
    height: 100px;
}

#teamALabel {
    text-align: center;
    width: 100%;
}


.draggable {
    cursor: grab;
}
.dropzone {
    min-height: 100px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.dropzone.hovered {
    background-color: #f8f9fa !important;
}

.player img {
    -webkit-user-drag : none;
    pointer-events: none;
}

.custom-context-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}