#lobbyHeader {
    padding: 10px;
    display: flex;
}

#lobbyOptions{
    width: 100%;
    text-align: center;
}

#lobbyInterface {
    display: flex;
}

#teamSelector {
    display: flex;
    justify-content: center;
}

.teamDisplay {
    display: flex;
}

#teamDisplay {
    justify-content: center;
    display: flex;
}

#teamDisplay .player {
    border-radius: 10px;
    margin :10px;
}

#benchPlayerListLabel {
    width: 100%;
    text-align: center;
}

#playButton {
    background-color: chocolate;
}

#settingsButton {
    cursor: pointer;
    user-select: none;
}

#benchPlayerList, #teamADisplay, #teamBDisplay {
    padding: 10px;
}

#teamA .player{
    border-radius: 8px;
    background-color: rgba(220, 53, 69, 0.9) !important;
    border: 1px solid #ccc;
    width: 80px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 3px;
    padding-top: 3px;
}

#teamB .player{
    border-radius: 8px;
    background-color: rgba(13, 110, 253, 0.9) !important;
    border: 1px solid #ccc;
    width: 80px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 3px;
    padding-top: 3px;
}

.dropzone .player .playerUsername {
    margin-left: 5px;
}

#bench .player {
    border-radius: 8px;
    background-color: rgba(60, 60, 71, 0.9) !important;
    border: 1px solid #ccc;
    width: 80px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 3px;
    padding-top: 3px;
}

#teamALabel {
    text-align: center;
    width: 100%;
}


.draggable {
    cursor: grab;
}
.dropzone {
    min-height: 100px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.dropzone.hovered {
    background-color: #f8f9fa !important;
}

.player img {
    -webkit-user-drag : none;
    pointer-events: none;
}

.custom-context-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}