/* style.css */

body {
    background-color: #2c3e50; /* Couleur de fond sombre */
    color: #ecf0f1; /* Couleur du texte */
    font-family: 'Arial', sans-serif; /* Police simple et moderne */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    margin: 0;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ombre portée pour le texte */
}

canvas {
    border: 2px solid #ecf0f1; /* Bordure du canvas */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Ombre portée autour du canvas */
    border-radius: 10px; /* Coins arrondis */
}

@media (max-width: 600px) {
    .title {
        font-size: 2rem; /* Réduction de la taille du titre sur mobile */
    }

    canvas {
        width: 100%; /* Le canvas prend toute la largeur sur mobile */
        height: auto; /* Hauteur automatique pour maintenir les proportions */
    }
}
