#friends-tab,#ranked-tab,#statistics-tab,#pAcceptChat,#pDelete, #pDownload, #pPassword{
    display: none !important;
}

#pNicknameInput {
	background: transparent;
	border: none;
	color: white;
	outline: none;
}

.match {
	cursor: pointer;
}