localhost:443 {
	handle {
		root * /var/www/html
		try_files /index.html
		file_server browse
	}

	# API route to micro-services
	handle /api/algo-stats/* {
		reverse_proxy http://localhost:8001
	}

	handle /api/auth/* {
		reverse_proxy http://auth:8002
	}

	handle /api/chat/* {
		reverse_proxy http://localhost:8003
	}

	handle /api/game/* {
		reverse_proxy http://localhost:8004
	}

	handle /api/matchmaking/* {
		reverse_proxy http://localhost:8005
	}

	handle /api/users/* {
		reverse_proxy http://localhost:8006
	}

	# tls self_signed

	# @http {
	# 	protocol http
	# }
	# redir @http https://{host}{uri}
}